/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* css reset */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #7c3aed;
  font-weight: bold;
}

label:hover {
  cursor: pointer;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #4ade80;
}

ul li i {
  font-size: 24px;
}

ul li i:hover {
  cursor: pointer;
  opacity: .9;
}

/* styles */
#app {
  height: 100vh;
}

.navbar img {
  width: 32px;
}

.card {
  background-color: #fafafa;
}

.card img {
  width: 80px;
}


/* toggle dom classes */
.completed {
  text-decoration: line-through;
}

.done {
  background-color: #e5e5e5 !important;
} 

/*Insert this style in your css*/
.fontAwesome {
  font-family: Poppins, 'FontAwesome', sans-serif;
}

.alert {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 15;
}

@media screen and (max-width: 768px) {

  .card h1 {
    font-size: 24px;
  }
  
  .fontAwesome {
    font-size: small;
  }

  li span,
  li a {
    font-size: small;
  }

  .card img {
    width: 60px;
  }

  i#completeButton,
  i#deleteButton {
    font-size: 18px;
  }
  
}